@import "../colors.css";
/* tady třeba ještě oddělit vlastní styly pro nav */

header {
  background-color: var(--karmin);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 5px;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav{
  display: none;
}

#logo{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 90px;
  height: 90px;
}

#logo svg{
  width: 100%;
  height: auto;
}


