@import "carousel.css";

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  padding:0px 25px;
}



.sponsor {
  display: flex;
  justify-content: center;
  width: 33%;
  max-width: 33%;
  height: 75px;
  margin:30px 15px 20px 15px;
  padding: 0px;
}

.sponsor svg{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.carousel-sponsors {
  background-color:#FBF8F8;
  height: 190px;
}

.carousel-sponsors h2 {
  color: var(--karmin);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.sponsors-arrow-next, .sponsors-arrow-prev{
  cursor: pointer;
  position: absolute;
  margin:0px 0px 0px 0px;
  padding: 55px 17px;
  color: var(--karmin);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}


.sponsors-arrow-prev {
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(250, 250, 250));
}

.sponsors-arrow-next {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(250, 250, 250));
}

/* Position the "next button" to the right */
.sponsors-arrow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.sponsors-arrow-prev {
  left:0;
}

/* On hover, add a grey background color */
.sponsors-arrow-next:hover, .sponsors-arrow-prev:hover {
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(250, 250, 250));
  color: var(--karmin);}


.hide{
  display: none;
}

@media(min-width:580px){
  .sponsor {
    display: flex;
    justify-content: center;
    width:  10%;
    max-width: 10%;
    max-height: 5%;
    margin:30px 15px 20px 15px;
    padding: 0px;
  }
  
  .sponsor svg{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  .hide{
    display: none;
  }
}

@media(min-width:1000px){
  .sponsor {
    width: 7%;
    max-width: 7%;
  }
}

@media(min-width:1500px){
  .sponsor {
    width: 5%;
    max-width: 5%;
  }
}

