
.contact-organization .contact-address h3 {
  color: var(--gold);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.contact-organization .contact-address h4 {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}

.contact-organization .contact-address p {
  color: white;
  margin: 10px 0px;
  font-size: 14px;
}

.contact-address .map a {
  color: var(--gold);
  margin:0px 5px;
  font-size: 14px;
}

.contact-address .map {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-organization .contact-address .address {
  margin:0px 0px 30px 0px;
}
