@import "mail.css";
@import "contact-form.css";
@import "contact-address.css";

.contact-organization {
  background-color: var(--karmin);
  margin-top: 40px;
  padding: 35px 15px 45px 15px;
}


@media(min-width:580px){

  .contact-organization{
    display: flex;
    justify-content: center;

    width:100%;
  }

  .helper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    min-width: 70%;
  }
}

