@import "container.css";

.three-containers {
  background-color: var(--gold);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 0px 35px 0px;
  height: 238px;
}